@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
img {
    width: 100vw;
}
a {
    background-color: blue;
    color: white;
    display: block;
    padding: 15px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}
a:hover {
    background-color: white;
    color: black;
}
